$soul-font-emoji: "Apple Color Emoji", "Segoe UI Emoji",
  "Segoe UI Symbol", "Noto Color Emoji";
$soul-font-dflt:
  -apple-system, BlinkMacSystemFont, "Segoe UI", system-ui, Roboto,
  "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif,
  #{inspect($soul-font-emoji)};
$soul-font-hans:
  'Source Han Sans SC', 'Source Han Sans CN', 'PingFang SC', 'DengXian',
  'Microsoft YaHei UI', 'Noto Sans SC', 'Noto Sans CJK SC',
  'Microsoft YaHei', 'Droid Sans Fallback', sans-serif,
  #{inspect($soul-font-emoji)};
$soul-font-dflt-serif:
  'Roboto Serif', STSong, NSimSun, SimSun, 'Linux Libertine', Georgia,
  Times, 'Source Serif Pro', serif, #{inspect($soul-font-emoji)};
$soul-font-hant:
  'Source Han Sans TC', 'Source Han Sans TW',
  'Noto Sans TC', 'Noto Sans CJK TC',
  'Source Han Sans HC', 'Source Han Sans HK',
  'Noto Sans HC', 'Noto Sans CJK HC',
  'PingFang TC', 'LiHei Pro',
  'Microsoft JhengHei UI', 'Microsoft JhengHei', sans-serif;
$soul-font-hant-serif:
  'Source Han Serif TC', 'Source Han Serif TW',
  'Noto Serif TC', 'Noto Serif CJK TC',
  'Source Han Serif HC', 'Source Han Serif HK',
  'Noto Serif HC', 'Noto Serif CJK HC',
  PMingLiU, MingLiU, serif;
$soul-font-dflt-monospace:
  'Sarasa Term SC', 'Sarasa Mono SC',
  'Sarasa Term Slab SC', 'Sarasa Mono Slab SC',
  'Sarasa Fixed SC', 'Sarasa Fixed Slab SC',
  'Noto Sans Mono CJK SC',
  'Roboto Mono', Menlo, Consolas, 'Liberation Mono', 'Fira Code',
  'Courier New', monospace, #{inspect($soul-font-hans)};

$primary: #33bfab;
$success: #98f01b;
$info: #30abd9;
$warning: #ecf73a;
$danger: #f15;
$link-color: $info;
$font-family-sans-serif: null;
$font-family-monospace: null;
